body {
    background-color: gainsboro;
    text-align: center;
    margin: 0;
    line-height: 1.5;
};

#main {
text-align: center;
}
#img-div {
    background: white;
    padding: 15px;
    margin: 0 30px 0 30px;
  }
  #img-caption {
    margin: 10px 0 5px 0;
    font-size: 11px;
  }
  
  #headline {
   
    text-align: center;
  }
  ul {
    max-width: 460px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.8;
  }
  li {
    margin: 20px 0;
    font-size: 13px;
  }
  blockquote {
    font-style: italic;
    max-width: 550px;
    margin: 0 auto 40px auto;
    text-align: left;
    font-size: 13px;
  }
  @media (min-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  h2 {
      font-size: 14px;
    
  }
 #blog-info {
    margin: 0 40px 10px 40px;
 }